@import "../../base/variables.scss";

.dropdown>*,
.dropdown>*::before,
.dropdown>*::after {
    box-sizing: border-box;
}

.visuallyhidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.dropdown__selection {
    width: 100%;
    font-size: 14px;
    line-height: 24px;
    color: $color-ds75;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    border: none;
    cursor: pointer;
}

.dropdown__more-icon {
    position: absolute;
    right: 8px;
    transform: translateY(2px);

    color: $color-ds50;
    //transform: translateX(6px);
}

.dropdown__controls {
    display: flex;
    margin-top: -15px; // last option item margin-bottom
    padding-top: 20px; // controls should receive click
}

.dropdown__apply-btn {
    margin-left: auto;
}

.dropdown {

    // Important for overriding specificity of rules in item-quantity-dropdown
    .iqdropdown {
        height: auto !important;
        padding: 10px 15px !important;

        border: 1px solid $color-ds25 !important;
        border-radius: 2px !important;

        transition: border-color .2s;

        &:hover,
        &:focus,
        &:active,
        &.menu-open {
            border-radius: 2px 2px 0 0 !important;
            border-color: $color-ds50 !important;
        }
    }

    .dropdown__menu {
        top: calc(100% + 2px) !important;
        width: 101%;
        padding: 7px 14px 14px !important;

        border: 1px solid $color-ds50 !important;
        border-radius: 0 0 2px 2px !important;
        box-shadow: 0px 10px 20px $color-ds5;
    }

    .dropdown__option {
        height: auto !important;
        padding: 0 0 7px !important;
    }

    .dropdown__item {
        font-weight: bold !important;
        font-size: 12px !important;
        line-height: 15px !important;
        text-transform: uppercase !important;
        color: $color-ds100 !important;
    }

    .iqdropdown-item-controls {
        display: flex !important;
        justify-content: space-between !important;
        align-items: center !important;
        height: auto !important;
    }

    .iqdropdown-item-controls button {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        width: 30px !important;
        height: 30px !important;
        padding: 0 !important;

        border: 1px solid $color-ds25 !important;
        border-radius: 50% !important;

        font-size: 18px !important;
        line-height: 1 !important;
        text-align: center !important;

        color: $color-ds50 !important;


        i {
            min-width: auto !important;
            width: auto !important;
            height: auto !important;
            margin: 0 !important;

            &::before,
            // Reset lib
            &::after {
                position: static !important;
                transform: none !important;

                width: auto !important;
                height: auto !important;

                font-style: normal !important;
                text-align: center !important;
                background: none !important;
            }
        }
    }

    .icon-decrement::before {
        content: '-' !important;
    }

    .icon-increment::before {
        content: '+' !important;
    }

    .counter {
        display: inline-block !important;
        width: 30px !important;
        padding: 0 !important;
        font-weight: bold !important;
        font-size: 12px !important;
        line-height: 1 !important;
        text-align: center !important;
        color: $color-ds100 !important;

        border: none !important;
    }
}