@import "../../base/variables.scss";
@import "../../libs/daterangepicker.scss";
@import "../../components/dropdown/dropdown.scss";


.main {
	height: 830px;
	// width: 100%;
	background: url(../../img/main-bg.jpg) center no-repeat;
	background-size: cover;

	@media (max-width: 767.98px) {
		height: 100%;
	}

	&__inspiration {
		color: $color-ds75;
		font-size: 14px;
		text-align: right;
		vertical-align: bottom;
		align-self: flex-end;
		max-width: 300px;

		@media (max-width: 767.98px) {
			display: none;
		}
	}

}

section.main>.container {
	display: flex;
	align-content: space-between;
	justify-content: space-between;
	align-self: stretch;
	padding: 70px 16px 18px;
	height: 100%;

	@media (max-width: 575.98px) {
		justify-content: center;
		padding: 0;
	}

}

.find-room-wrapper {
	align-self: flex-start;
}