include ../../components/date-two-inputs/date-two-inputs.pug
include ../../components/dropdown/dropdown.pug
include ../../components/buttons/buttons.pug
include ../../components/find-room/find-room.pug
section.main
	.container
		.find-room-wrapper
			+find-room()
			
		div.main__inspiration Лучшие номера для вашей работы, отдыха и просто вдохновения
