mixin find-room()
	.find-room
		.find-room__title 
			h1 Найдём номера под ваши пожелания
		.find-room__date
			h3.find-room__h3 Прибытие
			h3.find-room__h3 Выезд
			+date-two-inputs("date-range-two1", "date-range-two2", "date-two-inputs")
		.find-room__men.mb-30
			+quantity-dropdown(guests, "Сколько гостей", "Гости")(class="isSelectionGuests" name="dropdownFindRoom")
		.find-room__button
			+button-wide("Подобрать номер", "#")