.footer-wrapper
	.container
		.footer-single
			.footer-single__logo.logo
				.logo__icon(style="background-image: url(./img/logo.svg);")
			.footer-single__desc
				| Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
			ul.footer__social
				li.footer__item
					a(class='footer__twitter')
				li.footer__item
					a(class='footer__facebook')
				li.footer__item
					a(class='footer__instagram')