.header
	.container
		a(href='#').header__logo: img(src='./img/logo.svg')
		ul.nav
			li.nav__item 
				a(href='#').nav__link.nav__link--active Home
			li.nav__item
				a(href='#').nav__link About us
			li.nav__item 
				a(href='#').nav__link Services 
					i.material-icons expand_more
			li.nav__item 
				a(href='#').nav__link Careers
			li.nav__item 
				a(href='#').nav__link News
			li.nav__item 
				a(href='#').nav__link Documentation
		.header-login
			.header-login__user Cosmin Negoita