header
	.container
		a(href='#').header__logo: img(src='./img/logo.svg')
		ul.nav
			li.nav__item
				a(href='#').nav__link О нас
			li.nav__item
				a(href='#').nav__link Услуги<i class="material-icons">expand_more</i>
			li.nav__item
				a(href='#').nav__link Вакансии
			li.nav__item
				a(href='#').nav__link Новости
			li.nav__item
				a(href='#').nav__link Соглашения <i class="material-icons">expand_more</i>
		button(class=`button_default`) <h3>войти</h3>
		button(class=`button_gradient`) зарегистрироваться
		div 
		