mixin comment(authorc, avatarLink, timec, textc, likeCount, likeCheck)
		.review
			.review__topBlock
				.review__like
					img.review__avatar(src="./img/avatar.png", alt="avatar")
					+likeButton(12)
				.review__bottomBlock
					p.review__name <b>Мурад Сарафанов</b>
					p.review__name 5 дней назад
					p.review__content Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.
