.label-radio {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 30px;

    &__text {
        line-height: 24px;
        color: $color-ds50;
        margin-bottom: 0;

        &:before {
            position: absolute;
            left: 0;
            bottom: 2px;
            content: "";
            display: inline-block;
            width: 20px;
            height: 20px;
            border: 1px solid $color-ds25;
            box-sizing: border-box;
            border-radius: 10px;

        }

        &:after {
            position: absolute;
            left: 4px;
            bottom: 6px;
            content: "";
            display: inline-block;
            width: 12px;
            height: 12px;
            border-radius: 10px;
            background: transparent;
            -webkit-transition: right .4s ease;
            -o-transition: right .4s ease;
            transition: right .4s ease;
        }
    }
}

.input-radio {
    display: none;

    &:checked+.label-radio__text {
        color: $color-ds75;

        &:before {
            border: 1px solid $color-purple;
        }

        &:after {
            background: $color-purple-gradient;
        }
    }


}