mixin subscription-text-field()
	form.subscription-text-field(action="#")
		input.subscription-text-field__input(name="email" placeholder="Email")
		button.subscription-text-field__button(type="submit")