doctype html
include ../components/text-field.pug
html(lang='ru')
	head
		title ui-kit
	body.body_ui-kit
		main.ui-kit
			p.colors-title Colors & Type
			img(src='../img/logo-gray.svg')
			section
				.container
					.colors
						ul
							li
								h2 Dark Shade 100% 
								p #1F2041
							li 
								h2 Dark Shade 75% 
								p #1F2041
							li 
								h2 Dark Shade 50% 
								p #1F2041
							li 
								h2 Dark Shade 25% 
								p #1F2041
							li 
								h2 Dark Shade 5% 
								p #1F2041
							li 
								h2 Purple 
								p #BC9CFF
							li 
								h2 Green 
								p #6FCF97
					.font
						.font_h(class='font_h1')
							.font_type(class='font_type_h1') H1
							.font_example 
								h1 This one is the sub-section or widget title
						.font_h(class='font_h2')
							.font_type(class='font_type_h2') H2
							.font_example 
								h2 Next one is the item title inside widgets
						.font_h(class='font_h3')
							.font_type(class='font_type_h3') H3
							.font_example 
								h3 THIS IS A LABEL OR CTA TEXT
						.font_h(class='font_body')
							.font_type(class='font_type_body') Body
							.font_example 
								p This is the body text which is used for most<br> of the design, like paragraphs, lists, etc.
		main.ui-kit
			p.form-title Form Elements
			img(src='../img/logo-gray.svg')
			section
				.container
					.form
						.form__row
							.form__col
								h3 Text Field
								p Default
								+text-field("email", "Email", {class: "form__text-field"})
								h3 Text Field
								p Hover / Focus
								+text-field("email", "Email", {class: "form__text-field--hover", value: "This is pretty awesome"})
							.form__col
							.form__col
						.form__row
							.form__col
							.form__col
							.form__col
						.form__row
							.form__col
							.form__col

	script(src='./ui-kit.js')