//- include ./../dropdown/dropdown.pug

mixin dropdown-guests()
	+quantityDropdown({
		
		initialSelection: 'Сколько гостей?',
		controls: true,
		items: [{
			name: 'adults',
			label: 'Взрослые',
			nouns: ['гость', 'гостя', 'гостей'],
		}, {
			name: 'children',
			label: 'Дети',
			nouns: ['гость', 'гостя', 'гостей'],
		}, {
			name: 'babies',
			label: 'Младенцы',
			nouns: ['младенец', 'младенца', 'младенцев'],
		}],
	})
