mixin dropdown(name, placeholder, textAttr)
    label(for="dropdownGuest") 
        input(
            id="dropdownGuest", 
            name=name, 
            type="text", 
            readonly, 
            placeholder=placeholder)&attributes(textAttr)
 
