@import "../../base/variables.scss";

.filter-date-dropdown {
	border: solid 1px $color-ds25;
	border-radius: 4px;
	position: relative;
	margin-top: 5px;
	display: flex;

	&__input {

		box-sizing: border-box;
		width: 265px;
		background-color: white;
		border-radius: 4px;
		color: $color-ds75;
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		padding: 13px 14px;


		&::placeholder {
			color: $color-ds25;
		}

		&:hover {
			border-color: $color-ds50;

		}

		&:focus {
			border-color: $color-ds50;

			&::placeholder {
				color: $color-ds75;
			}

			outline: none;
		}
	}

	&>.filter-date-dropdown__icon {
		display: inline-block;
		position: absolute;
		right: 10px;
		bottom: 0;
		line-height: 44px;
		color: $color-ds50;
	}
}

.button-filter-date-dropdown-clear,
.filter-date-dropdown .button-filter-date-dropdown-clear,
.button-filter-date-dropdown-close {
	border: none;
	background: none;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
}

.button-filter-date-dropdown-clear {
	color: $color-ds50;
}

.button-filter-date-dropdown-close {
	color: $color-purple;
}