mixin filter-date-dropdown()
	label.filter-date-dropdown
		input.filter-date-dropdown__input#filter-date-dropdown(placeholder="19 авг - 23 авг" name="datefilter" autocomplete="off")
		i.material-icons.filter-date-dropdown__icon expand_more