.checkbox {
	&__label {
		max-width: 240px;
		margin-top: 10px;
		position: relative;
		color: $color-ds50;
		padding-left: 30px;
		line-height: 1.3rem;
		cursor: pointer;

	}

	&__input {
		display: none;

		&:hover {
			&+.checkbox__check-icon {
				border-color: $color-purple;
			}
		}
	}

	&__check-icon {
		position: absolute;
		left: 0px;
		border: 1px solid $color-ds25;
		font-size: 14px;
		font-weight: bolder;
		user-select: none;
		width: 20px;
		height: 20px;
		border-radius: 4px;
		padding: 3px;
		background-image: rgba(0, 0, 0, 1);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	&__input:checked {
		&+.checkbox__check-icon {
			background-image: $color-purple-gradient;
			border-color: $color-purple;
		}
	}
}

.checkbox__label>.checkbox__check-icon {
	font-size: 14px;
	font-weight: bold;
}

.expandable-checkbox {
	position: relative;
	width: 100%;
	min-width: 250px;
	cursor: pointer;

	&__header {
		margin-bottom: 18px;
		font-weight: bold;
		font-size: 12px;
		line-height: 15px;
		text-transform: uppercase;
		color: $color-ds100;

	}

	&__arrow {
		position: absolute;
		top: -5px;
		right: 8px;
		font-weight: normal;
		font-size: 24px;
		line-height: 24px;
		color: $color-ds50;
	}

	&__list-item {
		margin-bottom: 10px;
	}

	&--active {
		.expandable-checkbox__list {
			display: block;
		}
	}
}

.expandable-checkbox[aria-expanded='true'] .expandable-checkbox__arrow {
	transform: rotate(180deg);
}

.label-check-rich {
	@extend .checkbox__label;
	font-weight: bold;
	margin-bottom: 10px;
	color: $color-ds75;

	&__input {
		@extend .checkbox__input;
	}

	&__description {
		font-weight: normal;
		font-size: 12px;
		line-height: 14px;
		color: $color-ds50;
		margin-top: 6px;
		padding-left: 30px;
	}
}