mixin date-two-inputs()
    .date-two#date-two-inputs
        input.date-two__inputs#date-range-two1(placeholder="ДД.MМ.ГГГГ" name="daterange" autocomplete="off")
        
        input.date-two__inputs#date-range-two2(placeholder="ДД.MМ.ГГГГ" name="daterange" autocomplete="off")
        								
