mixin date-two-inputs()
    .date-two#date-two-inputs
        input.date-two__inputs#date-range-two1(placeholder="ДД.MМ.ГГГГ" name="daterange" autocomplete="off")
        i.material-icons.date-two__icon expand_more
        input.date-two__inputs#date-range-two2(placeholder="ДД.MМ.ГГГГ" name="daterange" autocomplete="off")
        i.material-icons.date-two__icon2 expand_more
        								
