extends layout/home
block content
	include ./pages/landing/landing.pug
	
	script(src='./index.js')
	script(src='./libs/jquery.daterangepicker.js')
	script(src='./components/quantity-dropdown/quantity-dropdown.js')
