extends layout/home
block content
	include ./pages/registration/registration.pug

	script(src='./pages/registration/registration.js')
	script(src='./layout/home.js')
	script(src='./libs/jquery.daterangepicker.js')