extends layout/home
block content
	include ./pages/room-details/room-details.pug

	script(src='./pages/room-details/room-details.js')
	script(src='./layout/home.js')
	script(src='./libs/jquery.daterangepicker.js')
	script(src='./components/like-button/like-button.js')
	script(src='./components/quantity-dropdown/quantity-dropdown.js')