extends layout/home
block content
	include ./pages/search/search.pug

	script(src='./pages/search/search.js')
	script(src='./layout/home.js')
	script(src='./libs/jquery.daterangepicker.js')
	script(src='./components/quantity-dropdown/quantity-dropdown.js')
	script(src='./components/rate-btn/rate-btn.js')
	script(src='./components/pagination/pagination.js')
	script(src='./components/range-slider/range-slider.js')
	script(src='./components/checkbox/checkbox.js')