$color-green: #6FCF97;
$color-purple: #BC9CFF;
$color-ds5:rgba(31, 32, 65, 0.05);
$color-ds25:rgba(31, 32, 65, 0.25);
$color-ds50:rgba(31, 32, 65, 0.5);
$color-ds75:rgba(31, 32, 65, 0.75);
$color-ds100:rgba(31, 32, 65, 1);