$color-green: #6FCF97;
$color-green-gradient: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
$color-purple: #BC9CFF;
$color-purple-gradient: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$color-purple-gradient25: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
$color-ds5:rgba(31, 32, 65, 0.05);
$color-ds25:rgba(31, 32, 65, 0.25);
$color-ds50:rgba(31, 32, 65, 0.5);
$color-ds75:rgba(31, 32, 65, 0.75);
$color-ds100:rgba(31, 32, 65, 1);
$hover: '&:hover, &:focus, &:active';