mixin rateBtn(rate, readonly)
	- let stars = 5;

	.rate-btn(data-rate=rate)
		while stars--
			button(
				class=`rate-btn__star ${(rate > 0) ? '' : 'rate-btn__star--empty'}`
				type='button'
				disabled=readonly
			)
				i.rate-btn__inner-icon.material-icons star
				i.rate-btn__icon.material-icons star
					

			- rate -= 1;
