doctype html
include ../components/date-two-inputs/date-two-inputs.pug
include ../components/quantity-dropdown/quantity-dropdown.pug
include ../components/buttons/buttons.pug
include ../components/find-room/find-room.pug
include ../components/text-field/text-field.pug
include ../components/filter-date-dropdown/filter-date-dropdown.pug
include ../components/range-slider/range-slider.pug
include ../components/checkbox/checkbox.pug
include ../components/room-card/room-card.pug
include ../components/rate-btn/rate-btn.pug
include ../components/pagination/pagination.pug
include ../components/login-card/login-card.pug
include ../components/registration-card/registration-card.pug
include ../components/radiobutton/radiobutton.pug
include ../components/masked/masked.pug
include ../components/toggle/toggle.pug

link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
link(rel="shortcut icon" type="image/png" href="./img/favicon.ico")
html(lang='ru')
	head
		title=pageTitle
	body
		include ../modules/header
		
		block content

		include ../modules/footer

