doctype html
link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
link(rel="shortcut icon" type="image/png" href="./img/favicon.ico")
html(lang='ru')
	head
		title=pageTitle
	body
		include ../modules/header
		
		include ../pages/landing/landing

		include ../modules/footer

block content